@import "tailwindcss/preflight";
@tailwind utilities;

.h2 {
  /*Boas-vindas*/
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  position: static;
  align-items: center;
}
.input {
  border-color: rgb(33, 33, 33);
  border-width: 0.8px;
  border-radius: 7px;
}
.tituloInput {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.button {
  padding-block-start: 15px;
}
.form {
  align-items: center;
}
.direitaRegistro {
  width: 100%;
  max-width: 886px;
  height: 100vh;
  flex-shrink: 0;
  border-radius: 64px 0 0 64px;
  background: #f0edee;
  position: absolute;
  top: 0;
  left: 45%;
  transform: translateX(0);
}
